<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.noticeboard.mapper.CommentsMapper">
	<select id="getAll" resultType="jp.co.noticeboard.entity.Comment">
		select
			id,
			user_id as userId,
			message_id as messageId,
			text,
			created_at as createdAt,
			updated_at as updatedAt
		from
			comments
	</select>
	<insert id="regist">
		insert into comments (
			user_id,
			message_id,
			text,
			created_at,
			updated_at
		) values (
			#{userId},
			#{messageId},
			#{text},
			current_timestamp,
			current_timestamp
		)
	</insert>
</mapper>