<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.noticeboard.mapper.MessagesMapper">
	<select id="getAll" resultType="jp.co.noticeboard.entity.Message">
		select
			id,
			user_id as userId,
			subject,
			text,
			category,
			created_at as createdAt,
			updated_at as updatedAt
		from
			messages
		where
			category like concat('%', #{category} ,'%') and
			created_at between #{startDate} and #{endDate}
		order by created_at desc
	</select>
	<insert id="regist">
		insert into messages (
			user_id,
			subject,
			text,
			category,
			created_at,
			updated_at
		) values (
			#{userId},
			#{subject},
			#{text},
			#{category},
			current_timestamp,
			current_timestamp
		)
	</insert>
	<delete id="delete">
		delete from messages
		where
			id = #{id}
	</delete>
</mapper>